dialog {
    justify-self: center;
    align-self: center;
    min-width: 300px;
    max-width: 60vw;
    min-height: 150px;
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fade-in 0.3s ease;
    animation-fill-mode: forwards;
}

#messageDialog h4,
#inputDialog h4,
#confirmDialog h4 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

#messageDialog #message,
#inputDialog #message,
#confirmDialog #message {
    margin: 1rem 0;
}

#messageDialog div p,
#inputDialog div p,
#confirmDialog div p {
    margin: 1rem 0;
}

#messageDialog #btnOk {
    width: 100%;
}

#confirmDialog #btnYes {
    width: 100%;
}

#messageDialog button,
#inputDialog button,
#confirmDialog button {
    flex: 1; /* Make the buttons equal width */
    padding: 0 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

#messageDialog button:last-child,
#inputDialog button:last-child,
#confirmDialog button:last-child {
    background-color: #6c757d;
}

#messageDialog button:hover,
#inputDialog button:hover,
#confirmDialog button:hover {
    background-color: #0056b3;
}

#messageDialog button:focus,
#inputDialog button:focus,
#confirmDialog button:focus {
    background-color: #004288;
}

#messageDialog button:last-child:hover,
#inputDialog button:last-child:hover,
#confirmDialog button:last-child:hover {
    background-color: #4d5558;
}

#messageDialog button:last-child:focus,
#inputDialog button:last-child:focus,
#confirmDialog button:last-child:focus {
    background-color: #3c4346;
}

#messageDialog::-webkit-scrollbar,
#inputDialog::-webkit-scrollbar,
#confirmDialog::-webkit-scrollbar {
    width: 5px;
}

#messageDialog::-webkit-scrollbar-track,
#inputDialog::-webkit-scrollbar-track,
#confirmDialog::-webkit-scrollbar-track {
    display: none;
}

#messageDialog::-webkit-scrollbar-thumb,
#inputDialog::-webkit-scrollbar-thumb,
#confirmDialog::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#messageDialog::-webkit-scrollbar-thumb:hover,
#inputDialog::-webkit-scrollbar-thumb:hover,
#confirmDialog::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#messageDialog::-webkit-scrollbar-button,
#inputDialog::-webkit-scrollbar-button,
#confirmDialog::-webkit-scrollbar-button {
    display: none;
}

#inputDialog input[type="text"] {
    text-indent: 10px;
    font-weight: bold;
}

#txtInput {
    height: 30px;
    width: 100%;
}

.divButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    dialog {
        max-width: 90vw;
    }
}